SAHABINO_APP_DIR={{ sahabino_app_dir }}
SAHABINO_BACKUP_DIR={{ sahabino_backup_dir }}
SAHABINO_BACKUP_RETENTION_DAYS={{ sahabino_backup_retention_days }}
SAHABINO_COMPOSE_PROJECT_NAME={{ sahabino_compose_project_name }}
SAHABINO_BACKUP_REMOTE_ENABLED={{ sahabino_backup_remote_enabled | bool | lower }}
