.git
.gitignore
.gitlab
.github
.venv

__pycache__/
*.py[cod]
*.egg-info/

.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/

.env
.env.*
!.env.example

build/
dist/
data/
tests/

*.log
*.pcap
*.pcapng
