# Use the PostgreSQL service name visible on the selected Docker network.
PGHOST=postgres
PGPORT=5432
PGDATABASE=sahabino
PGUSER=sahabino
PGPASSWORD=sahabino




SENTIMENT_BATCH_SIZE=32
SENTIMENT_MODEL_BATCH_SIZE=8
SENTIMENT_MAX_ATTEMPTS=3
SENTIMENT_IDLE_SECONDS=900
SENTIMENT_MIN_LANGUAGE_CONFIDENCE=0.85
SENTIMENT_MODEL_CACHE=/srv/sahabino-models/hf-hub
